{% extends 'base.html' %}
{% load static %}

{% block content %}
      <section class="site-section pt-5">
            <div class="container">
                  <div class="row">
                        <div class="col-md-12">
                              <div class="owl-carousel owl-theme home-slider">
                                    {% for banner in banners %}
                                          <div>
                                                <a href="{% url 'detail' banner.id %}" class="a-block d-flex align-items-center height-lg"
                                                      style="background-image: url('{{ banner.image_1.url }}'); ">
                                                      <div class="text half-to-full">
                                                            <div class="post-meta">
                                                                  <span class="category">{{ banner.category.title }}</span>
                                                                  <span class="mr-2">{{ banner.created_at|date }} </span> &bullet;
                                                                  <span class="ml-2"><span class="fa fa-comments"></span>
                                                                        {{ banner.comment_set.count }}</span>
                                                            </div>
                                                            <h3>{{ banner.title }}</h3>
                                                            <p>{{ banner.description|slice:":120" }}</p>
                                                      </div>
                                                </a>
                                          </div>
                                    {% endfor %}
                                    
                              </div>
                        </div>
                  </div>
                  <div class="row">
                        {% for last_article in last_articles %}
                              <div class="col-md-6 col-lg-4">
                                    <a href="{% url 'detail' last_article.id %}" class="a-block d-flex align-items-center height-md"
                                          style="background-image: url('{{ last_article.image_1.url }}'); ">
                                          <div class="text">
                                                <div class="post-meta">
                                                      <span class="category">{{ last_article.category.title }}</span>
                                                      <span class="mr-2">{{ last_articl.ecreated_at|date }} </span> &bullet;
                                                      <span class="ml-2"><span class="fa fa-comments"></span> {{ last_article.comment_set.count }}</span>
                                                </div>
                                                <h3>{{ last_article.title }}</h3>
                                          </div>
                                    </a>
                              </div>
                        {% endfor %}      
                  </div>
            </div>
      </section>

      <section class="site-section py-sm">
            <div class="container">
                  <div class="row">
                        <div class="col-md-6">
                              <h2 class="mb-4">Lifestyle Category</h2>
                        </div>
                  </div>
                  <div class="row blog-entries">
                        <div class="col-md-12 col-lg-8 main-content">
                              <div class="row">
                                    {% for article in articles %}
                                          <div class="col-md-6">
                                                <a href="{% url 'detail' article.id %}" class="blog-entry element-animate"
                                                      data-animate-effect="fadeIn">
                                                      <img src="{{ article.image_1.url }}" alt="Image placeholder">
                                                      <div class="blog-content-body">
                                                            <div class="post-meta">
                                                                  <span class="category">{{ article.category.title }}</span>
                                                                  <span class="mr-2">{{ article.created_at|date }} </span> &bullet;
                                                                  <span class="ml-2"><span class="fa fa-comments"></span>
                                                                        {{ article.comment_set.count }}</span>
                                                            </div>
                                                            <h2>{{ article.title }}</h2>
                                                      </div>
                                                </a>
                                          </div>
                                    {% endfor %}
                              </div>
                              <div class="row">
                                    <div class="col-md-12 text-center">
                                          <nav aria-label="Page navigation" class="text-center">
                                                <ul class="pagination">
                                                      {% if articles.has_previous %}      
                                                            <li class="page-item"><a class="page-link"
                                                                        href="?page={{ articles.previous_page_number }}">Prev</a></li>
                                                      {% endif %}

                                                      {% for page_number in articles.paginator.page_range %}
                                                            {% if page_number == articles.number %}
                                                                  <li class="page-item active"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                                                            {% endif %}

                                                            {% if page_number != articles.number %}
                                                                  <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                                                            {% endif %}

                                                      {% endfor %}

                                                      {% if articles.has_next %}
                                                            <li class="page-item"><a class="page-link"
                                                                  href="?page={{ articles.next_page_number }}">Next</a></li>
                                                      {% endif %}
                                                      <br>
                                                      Page {{ articles.number }} of {{ articles.paginator.num_pages }}.

                                                </ul>
                                          </nav>
                                    </div>
                              </div>
                              <div class="row mb-5 mt-5">
                                    <div class="col-md-12">
                                          <h2 class="mb-4">More Blog Posts</h2>
                                    </div>
                                    <div class="col-md-12">
                                          {% for article in more_articles %}
                                                <div class="post-entry-horzontal">
                                                      <a href="{% url 'detail' article.id %}">
                                                            <div class="image element-animate" data-animate-effect="fadeIn"
                                                                  style="background-image: url({{ article.image_1.url }});"></div>
                                                            <span class="text">
                                                                  <div class="post-meta">
                                                                        <span class="category">{{ article.category.title }}</span>
                                                                        <span class="mr-2">{{ article.created_at|date }}</span> </span> &bullet;
                                                                        <span class="ml-2"><span
                                                                                    class="fa fa-comments"></span> {{ article.comment_set.count }}</span>
                                                                  </div>
                                                                  <h2>{{ article.title }}</h2>
                                                            </span>
                                                      </a>
                                                </div>
                                          {% endfor %}

                                    </div>
                              </div>
                        </div>

                        <div class="col-md-12 col-lg-4 sidebar">
                              <div class="sidebar-box search-form-wrap">
                                    <form action="#" class="search-form">
                                          <div class="form-group">
                                                <span class="icon fa fa-search"></span>
                                                <input type="text" class="form-control" id="s"
                                                      placeholder="Type a keyword and hit enter">
                                          </div>
                                    </form>
                              </div>
                              {% if request.user.is_authenticated %}
                                    <div class="sidebar-box">
                                          <div class="bio text-center">
                                                {{request.user.}}
                                                <img src="{{ request.user.avatar.url }}" alt="Image Placeholder" class="img-fluid">
                                                <div class="bio-body">
                                                      <h2>{{ request.user.get_full_name }}</h2>
                                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Exercitationem facilis sunt repellendus excepturi beatae porro
                                                            debitis voluptate nulla quo veniam fuga sit molestias minus.</p>
                                                      <p><a href="#" class="btn btn-primary btn-sm">Read my bio</a></p>
                                                      <p class="social">
                                                            <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                                            <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                                            <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                                                            <a href="#" class="p-2"><span
                                                                        class="fa fa-youtube-play"></span></a>
                                                      </p>
                                                </div>
                                          </div>
                                    </div>
                              {% else %}
                                    <div class="sidebar-box">
                                          <div class="bio text-center">
                                                <img src="{% static 'images/person_1.jpg' %}" alt="Image Placeholder" class="img-fluid">
                                                <div class="bio-body">
                                                      <h2>Meagan Smith</h2>
                                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Exercitationem facilis sunt repellendus excepturi beatae porro
                                                            debitis voluptate nulla quo veniam fuga sit molestias minus.</p>
                                                      <p><a href="#" class="btn btn-primary btn-sm">Read my bio</a></p>
                                                      <p class="social">
                                                            <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                                            <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                                            <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                                                            <a href="#" class="p-2"><span
                                                                        class="fa fa-youtube-play"></span></a>
                                                      </p>
                                                </div>
                                          </div>
                                    </div>
                              {% endif %}

                              <div class="sidebar-box">
                                    <h3 class="heading">Popular Posts</h3>
                                    <div class="post-entry-sidebar">
                                          <ul>
                                                {% for article in last_articles %}
                                                      <li>
                                                            <a href>
                                                                  <img src="{{article.image_1.url}}" alt="Image placeholder"
                                                                        class="mr-4">
                                                                  <div class="text">
                                                                        <h4>{{ article.title }}</h4>
                                                                        <div class="post-meta">
                                                                              <span class="mr-2">{{ article.created_at|date }} </span>
                                                                              &bullet;
                                                                              <span class="ml-2"><span
                                                                                          class="fa fa-comments"></span>
                                                                                          {{ article.comment_set.count }}</span>
                                                                        </div>
                                                                  </div>
                                                            </a>
                                                      </li>
                                                {% endfor %}
                                          </ul>
                                    </div>
                              </div>

                              <div class="sidebar-box">
                                    <h3 class="heading">Categories</h3>
                                    <ul class="categories">
                                          {% for cat in categories %}
                                                <li><a href="{% url 'category' cat.id %}">{{ cat.title }} <span>({{ cat.article_set.count }})</span></a></li>
                                          {% endfor %}
                                    </ul>
                              </div>

                              <div class="sidebar-box">
                                    <h3 class="heading">Tags</h3>
                                    <ul class="tags">
                                          {% for tag in tags %}
                                                <li><a href="?tag={{tag}}">{{tag}}</a></li>
                                          {% endfor %}
                                    </ul>
                              </div>
                        </div>

                  </div>
            </div>
      </section>
{% endblock %}
      